@{
    ViewData["Title"] = "MVC Project";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Core MVC Project</h1>
    <p>Starter project for an online store or other website that needs user upload capability.</p>
</div>
